@charset "utf-8";
/* CSS Document */
.bg-trang-70{ background-color: rgba(255,255,255,0.5)}
#hero
{
	padding-top: 80px;
	padding-bottom: 80px;
	background-image: url("../images/bg-chan-hero.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	width: 100%;
	
	
	
}
.wel
{
	background-image: url("../images/bg-welcome.png"), url("../images/a-xinchao.png"), url("../images/bg-banh.png");
	background-repeat: no-repeat, no-repeat,  no-repeat;
	background-position: left center, 90% center, center top;
	
}
@media (max-width:900px){
	.wel
{
/*	background-image: url("../images/bg-welcome.png"), url("../images/a-xinchao.png");
	background-repeat: no-repeat, no-repeat;*/
	background-position: left center, right center, center top;
	background-size: 20%, 50%;
	background-color: rgba(255,255,255,0.5)
	
}

}
@media (max-width:1200px){
	.wel
{
/*	background-image: url("../images/bg-welcome.png"), url("../images/a-xinchao.png");
	background-repeat: no-repeat, no-repeat;
	background-position: left center, right center;*/
	background-size: 20%, 50%
	
}
}
#carouselExampleIndicators1{ overflow: hidden; width: 100%}
#combo .card
{ 
	transition:all 1s;
	background-color: var(--white);
	
}
#combo .card h2{ color: var(--secondary)}
#combo .card:hover
{
	background-color: var(--secondary);
	color: #fff
}
#combo .card:hover >h3,
#combo .card:hover >h2
{ color: #fff}
#thanhphan    /---cái-này-em-theo-của-cô–á-nó sẽ-là-dấu-tag–/
{
	background-image: url( "../images/bg-chan-hero.png"), url( "../../porfolio-dn/ingredient_bg-1 1.png");
	background-repeat: no-repeat, no-repeat;
	background-position: bottom center, top center;
	min-height: 650px;
	width: 100%;
	padding-bottom: 40px; 
	background-size: auto,cover;
		
	/*--anh-coi-từ-chỗ-này-bên-css-anh-nha–*/	
}

.tphan h1, .tphan h3{
	color:#fff;
}	
@media(max-width:1000px)
{
	.tphan{
	background-size: 35%, cover;
		background-position: 300% bottom,left top;}
		}
	
	
	@media(max-width:600px){
		.tphan{
		background-size: 80%,cover;
			background-position: 300% bottom, left top;}}		
	.menu .badge
{padding: 5px 15px;
margin-left: 0
}

.td-mon{position: relative;color: #333}
/*.td-mon:after, .gach
{
	content:"";
	position: absolute;min-width:50%;
	height: 5px; left:105%; top: 50%;
	border-top: 2px dotted rgb(0,0,0,0.5)
}*/
	[class*="col-"]
{
	border:1px /*solid*/;
	padding: 15px
}
.container{	width: 100%;  }
/*---combo*/
.combo-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.combo-image {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Đảm bảo hình ảnh hiển thị gọn gàng */
  margin-right: 15px;
}

.combo-content {
  flex: 1;
}






